body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

nav {
    background: #0779e4;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}
li a:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: all;

}

section {
    padding: 20px 0;
}

section h2 {
    text-align: center;
    color: #333;
}

section p {
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    background: #0779e4;
    color: #fff;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.project {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project:hover{

    color: white;
    background-color: gray;
    cursor: pointer;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #0779e4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
